<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= {{url_for ('static', filename='logins.css', _external=True)}}>
    <title>Login_Page</title>
</head>
<body>
    <h1> Sign In Page </h1>
    <form method="POST">
     
        Employee Id: <br>
        <input type="text" placeholder="Enter your ID No." name="e_id"> <br>
        Password:  <br>
        <input type="password" placeholder="Enter your Password" name="passwd"> <br>

        <input type="submit" value="Sign In" id="submit">
        <p>
        {% with msgs = get_flashed_messages( ) %}
            {% for msg in msgs  %}
            <font color=#a00> {{msg}} </font>
            {% endfor %}
        {% endwith %}
        </p>
    </form>
    <p>New User Please <a href="/signup"> Sign up </a></p>
</body>
</html>